<!-- extend base layout -->
{% extends "layout.html" %}
{% block content %}
    <h2>Welcome to the HSR-Geodatenkompass</h2>
<p>This is an application for searching geodata provided by geocat.ch.</p>
<p>In order to start searching, enter the search query into the search panel and click on the search button. During your stay, the system collects your selections of search results and recommends to geodata that might be of interest to you. These are shown to you on the left side of this page.</p>
{% endblock %}
