<head>
    <title>Geodata Meta Search Engine</title>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
    <form style="display: inline;" action="{{ url_for('meta_search.search', cid='freaks') }}" method="GET">
        <input type="text" name="q" value="{{ query }}">
        <input type="hidden" name='cid' value="freaks">
        <input type="submit" value="Search">
    </form>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
