<head>
    <title>Geodata Meta Search Engine</title>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
	<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='own_css/search.css') }}">
</head>
<body>
    <form style="display: inline;" action="{{ url_for('meta_search.search') }}" method="GET">
        <input type="text" name="q" value="{{ query }}">
        <input type="submit" value="Search">
        <select name='cid'>
            <option value="freaks">Freaks</option>
            <option value="geeks">Geeks</option>
        </select>
    </form>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
